<h4>{{rental.title}}</h4>
<h5>{{rental.owner}}</h5>
<h6>{{rental.city}}</h6>
{{#if isImageShowing}}
<img src="{{rental.image}}" height="150" width="150">
  <button {{action 'hideImage'}}>Hide image</button>
{{else}}
  <button {{action 'showImage'}}>Show image</button>
{{/if}}